/Arquivos/AloMundo2/target/
/Arquivos/CalcularVelocidadeMedia/target/
/Arquivos/Variaveis/target/
/Arquivos/EntradaDados/target/
/Arquivos/DiferentesTiposDados/target/
/Arquivos/ScannerCalcularVelocidadeMedia/target/
/Arquivos/OperadoresAritmeticos/target/
/Arquivos/OperadoresAtribuicao/target/
/Arquivos/OperadoresRelacionais/target/
/Arquivos/OperadoresLogicos/target/
/Arquivos/EstruturaDecisao/target/
/Arquivos/ExercicioDecisao/target/
/Arquivos/ExercicioDecisao2/target/
/Arquivos/ExercicioDecisao3/target/
/Arquivos/ExercicioDecisao4/target/
/Arquivos/ExercicioDecisao5/target/
/Arquivos/ExercicioDecisao6/target/
/Arquivos/Desafio/target/
