/Arquivos/AloMundo2/target/
/Arquivos/CalcularVelocidadeMedia/target/
/Arquivos/Variaveis/target/
/Arquivos/EntradaDados/target/
/Arquivos/DiferentesTiposDados/target/
/Arquivos/ScannerCalcularVelocidadeMedia/target/
/Arquivos/OperadoresAritmeticos/target/
/Arquivos/OperadoresAtribuicao/target/
/Arquivos/OperadoresRelacionais/target/
/Arquivos/OperadoresLogicos/target/
/Arquivos/EstruturaDecisao/target/
/Arquivos/ExercicioDecisao/target/
/Arquivos/ExercicioDecisao2/target/
/Arquivos/ExercicioDecisao3/target/
/Arquivos/ExercicioDecisao4/target/
/Arquivos/ExercicioDecisao5/target/
/Arquivos/ExercicioDecisao6/target/
/Arquivos/Desafio/target/
/Arquivos/Switch1/target/
/Arquivos/Switch2/target/
/Arquivos/ExemploVetores2/target/
/Arquivos/ExercicioVetores/target/
/Arquivos/ExerciciosVetores2/target/
/Arquivos/ExerciciosVetores3/target/
/Arquivos/IterandoComOLacoWhile/target/
/Arquivos/VetorWhile/target/
/Arquivos/VetorWhile2/target/
/Arquivos/VetorWhile3/target/
/Arquivos/VetorWhile3_1/target/
/Arquivos/DesafioWhile/target/
